## Exercise 1: Design a Simple ER Diagram

Consider an online bookstore application. The main entities are **Author**, **Book**, and **Category**. The application needs to store the following information:

- Author: id, first name, last name, and date of birth
- Book: id, title, publication date, price, and author
- Category: id and name

Design an Entity-Relationship (ER) diagram for this application. Identify the primary keys and relationships between the entities. Consider the following constraints:

1. A book must have exactly one author, but an author can write multiple books.
2. A book can belong to one or more categories, and a category can have multiple books.


<details>
<summary id="summary" onmouseover="this.style.backgroundColor='#cccccc';" onmouseout="this.style.backgroundColor='transparent';" style="color: blue; cursor: pointer;">ðŸ‘‰ Click Here for the Answer to Exercise 1</summary>
    
For the given exercise, the ER diagram would have the following entities and relationships:

- Entities:
  - Author: id (primary key), first_name, last_name, date_of_birth
  - Book: id (primary key), title, publication_date, price, author_id (foreign key)
  - Category: id (primary key), name
  - Book_Category: book_id (foreign key), category_id (foreign key) [This is a junction table to store the many-to-many relationship between books and categories]

- Relationships:
  - Author (1) --- (M) Book: One-to-many relationship between Author and Book, with the foreign key `author_id` in the Book table.
  - Book (M) --- (M) Category: Many-to-many relationship between Book and Category, represented by the junction table `Book_Category`, which has foreign keys `book_id` and `category_id`.
    
</details>

<h2>Exercise 2: Normalize a Database Table</h2>
<p>Consider the following database table, which represents orders made by customers for products:</p>

<style>
  table {
    border-collapse: separate;
    border-spacing: 0;
    font-family: Arial, sans-serif;
    margin: 20px;
    width: 70%;
  }
  th,
  td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  table {
    border-radius: 10px;
    overflow: hidden;
  }
  th:first-child,
  td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  th:last-child,
  td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
</style>

<table>
  <tr>
    <th>OrderID</th>
    <th>CustomerName</th>
    <th>ProductName</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>OrderDate</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Alice</td>
    <td>Laptop</td>
    <td>1</td>
    <td>1000</td>
    <td>2023-01-01</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Bob</td>
    <td>Phone</td>
    <td>2</td>
    <td>500</td>
    <td>2023-01-01</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Alice</td>
    <td>Tablet</td>
    <td>1</td>
    <td>300</td>
    <td>2023-01-02</td>
  </tr>
</table>

<p>Normalize the table to remove redundancy and improve its design. Identify the primary keys and foreign keys for the new tables.</p>

<details>
<summary id="summary" onmouseover="this.style.backgroundColor='#cccccc';" onmouseout="this.style.backgroundColor='transparent';" style="color: blue; cursor: pointer;">ðŸ‘‰ Click Here for the Answer to Exercise 2</summary>
    
<h2>Answer to Exercise 2</h2>
    <p>The original table can be normalized into the following tables:</p>
    <ul>
        <li>Customer: CustomerID (primary key), CustomerName</li>
        <li>Product: ProductID (primary key), ProductName, Price</li>
        <li>Order: OrderID (primary key), CustomerID (foreign key), OrderDate</li>
        <li>OrderItem: OrderItemID (primary key), OrderID (foreign key), ProductID (foreign key), Quantity</li>
    </ul>
    <p>By normalizing the table, we have eliminated redundancy and improved the overall design of the database.</p>
</details>

<h2>Exercise 3: Normalize the Database Schema</h2>
<p>Consider the following table representing a sales database:</p>

<style>
  table {
    border-collapse: separate;
    border-spacing: 0;
    font-family: Arial, sans-serif;
    margin: 20px;
    width: 70%;
  }
  th,
  td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  table {
    border-radius: 10px;
    overflow: hidden;
  }
  th:first-child,
  td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  th:last-child,
  td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
</style>

<table border="1">
  <tr>
    <th>OrderID</th>
    <th>CustomerName</th>
    <th>ProductName</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>OrderDate</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Alice</td>
    <td>Laptop</td>
    <td>1</td>
    <td>1000</td>
    <td>2023-01-01</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Bob</td>
    <td>Phone</td>
    <td>2</td>
    <td>500</td>
    <td>2023-01-01</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Alice</td>
    <td>Tablet</td>
    <td>1</td>
    <td>300</td>
    <td>2023-01-02</td>
  </tr>
</table>

<p>Normalize this table to at least the 3rd Normal Form (3NF). List the new tables, their columns, primary keys, and any foreign keys as needed.</p>

<details>
<summary id="summary" onmouseover="this.style.backgroundColor='#cccccc';" onmouseout="this.style.backgroundColor='transparent';" style="color: blue; cursor: pointer;">ðŸ‘‰ Click Here for the Answer to Exercise 3</summary>
    
<h2>Answer to Exercise 3</h2>
<p>For the given exercise, we can normalize the table to 3NF by creating the following tables:</p>
<ul>
    <li>Customer:</li>
    <ul>
        <li>id (primary key)</li>
        <li>name</li>
    </ul>
    <li>Product:</li>
    <ul>
        <li>id (primary key)</li>
        <li>name</li>
        <li>price</li>
    </ul>
    <li>Order:</li>
    <ul>
        <li>id (primary key)</li>
        <li>customer_id (foreign key)</li>
        <li>order_date</li>
    </ul>
    <li>OrderItem:</li>
    <ul>
        <li>id (primary key)</li>
        <li>order_id (foreign key)</li>
        <li>product_id (foreign key)</li>
        <li>quantity</li>
    </ul>
</ul>
<p>These tables eliminate redundancy and dependencies, conforming to 3NF requirements.</p>

</details>